# Fișiere obiect și binare
*.o
*.obj
*.exe
*.out
*.app
*.gch

# Foldere de build
/build/
/bin/
/output/

# Fișiere generate de IDE-uri
.vscode/
.idea/
*.user
*.swp
*.DS_Store

# Fișiere temporare
*.log
